$gradient1: #f6d4e0;
$gradient2: #edd2f7;
$gradient3: #e2d1ff;
$darkBlue: #7b7ef6;
$lightBlue: #68a6fe;
$blue: #1a73e8;
$pink: #ff93bc;
$yellow: #f8c56c;
$green: #74d19c;
$black: #1e152f;
$unselected: #c8c2e5;
$white: #fcfcff;
